# === Node/React relevante ===

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency folder
node_modules/

# Build output
dist/
dist-ssr/

# Local files
*.local

# Editor settings
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store

# === Evt. tilføj Visual Studio ting du specifikt bruger ===
*.suo
*.sln
*.user
*.sw?
